/* For Mobiles  */
@media(min-width:280px) and (max-width:785px) {
    .nav-bg-logo {
        width: 30%;
    }

    .nav-bg-logo>img {
        width: 100%;
    }

    .nav-anchor-elements {
        display: none;
    }

    .hidden-button-nav {
        display: block;
        width: 6%;
    }

    .hidden-button-nav>img {
        width: 100%;
    }

    /* Section 1 Media  */
    /* Mid Sec Content  */
    .mid-main-sec1-content {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 2% 3.2%;
    }

    /* Mid Para Section  */
    .mid-sec1-para-sec {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .mid-sec1-para-sec>h3 {
        width: 60%;
        font-size: 2.2rem;
        font-weight: 900;
        margin-top: 4%;
        line-height: 40px;
        text-align: center;
    }

    .mid-sec1-para-sec>p {
        font-size: 1.1rem;
        font-weight: 800;
        width: 55%;
        margin-top: 4%;
        text-align: center;
    }

    /* Mid Download Buttons Styling  */
    .mid-download-buttons-div {
        width: 100%;
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px
    }

    .mid-download-button {
        width: 43%;
        height: fit-content;
        font-size: 0.9rem;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .mid-download-button>img {
        width: 20%;
    }

    /* Mid Image Section  */
    .mid-main-img-sec {
        width: 100%;
        margin-top: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: -1;
    }

    .mid-main-img-sec>img {
        width: 80%;
    }

    /* Main Section 2 part 2  */
    .navigation-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4%;
        box-sizing: content-box;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .navigation-slide>p {
        width: 70%;
        font-size: 1.1rem;
        margin-top: 2%;
        text-align: center;
    }

    /* Nav Search bar  */
    .nav-search-bar {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
        margin-top: 2%;
    }

    .nav-search-bar>input {
        font-size: 1.2rem;
        text-align: center;
    }

    .aptd-button {
        width: 180px;
        height: 60px;
        font-size: 1rem;
        font-family: Gilroy;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: 2%;
    }

    /* Part 3  */
    .part3-head-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }

    .part3-head-div>h3 {
        font-size: 1.5rem;
    }

    .part3-head-div>p {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 800;
        text-align: center;
        margin-top: 2%;
    }

    /* Only Mobile Visibility image  */
    .mob-hidden-image-div {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: relative;
    }

    .mob-hidden-image-div>img {
        position: relative;
        z-index: 2;
    }

    .mob-visible-circle-div {
        width: 350px;
        height: 350px;
        background-color: #75BF7A;
        border-radius: 50%;
        position: absolute;
        left: -27%;
        top: 11%
    }

    /* Only for Desktop  */
    /* Part 3 Asides  */
    .sec1-par3-content {
        display: none;
    }

    /* Only Mobile Visibility Aside Content  */
    .mob-visibility-aside-content {
        width: 100%;
        padding: 2%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 2%;
    }

    .mob-visibility-aside-content>h3 {
        width: 100%;
        color: black;
        font-family: Gilroy;
        font-size: 1.5rem;
        text-transform: uppercase;
        word-spacing: 30px;
        text-align: center;
    }

    .mob-visibility-aside1 {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 30px; */
    }

    /* Aside Top Circle Counting Image X4  */
    .mob-cont-img-circle {
        position: relative;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    .mob-cont-img-circle>img {
        width: 58px;
        height: 58px;
    }

    .mob-cont-img-circle>span {
        color: #75BF7A;
        font-size: 2rem;
        font-family: Gilroy;
        position: absolute;
        left: 36%;
        top: 11%;
    }

    .mob-visibility-aside1>h5 {
        font-family: Gilroy;
        font-size: 1.4rem;
    }

    .mob-visibility-aside1>p {
        color: #9E9DA2;
        font-size: 1.2rem;
        font-family: Gilroy-Regular;
        font-weight: 800;
        width: 60%;
        line-height: 25px;
        text-align: center;
    }


    /* Div Sliders Stylings  */

    .div-sliders-container {
        width: 100%;
        margin-top: 12%;
    }

    .div-sliders-container>h3 {
        font-size: 1.5rem;
    }

    .div-sliders-container>img {
        display: none;
    }

    /* Div slider 1  */
    .div-slider1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Div slider 1 Content*/
    .div-slider1>.div-slider1-content {
        width: 90%;
        padding: 1%;
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-slider1-content>img {
        width: 70%;
    }

    /* Div Slider Head Div  */
    .div-slider1-head {
        display: flex;
        align-items: center;
        width: 100%;
    }

    /* Div Slider Span  */
    .div-slider-span {
        font-size: 3.7rem;
        font-family: Gilroy-Regular;
        font-weight: 800;
    }

    /* Div Slider Heading */
    .div-slider-heading {
        font-family: Gilroy-Regular;
        font-weight: 800;
        font-size: 2rem;
        width: 100%;
    }

    .div-slider1-content>p {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
        position: static;
        margin: 10% 0%;
    }

    /* Div Slider 2  */
    .div-slider2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Div slider 1 Content*/
    .div-slider2>.div-slider2-content {
        width: 90%;
        padding: 1%;
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    .div-slider2-head {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        width: fit-content;
        order: -1;
        margin: 4% 0%;
    }

    .div-slider2-content>p {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
        position: static;
        margin: 10% 0%;
    }

    /* Div Slider 3  */
    .div-slider3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Div slider 1 Content*/
    .div-slider3>.div-slider3-content {
        width: 90%;
        padding: 1%;
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    .div-slider3-head {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        width: 100%;
        order: -1;
        margin: 4% 0%;
    }

    .div-slider3-content>p {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
        position: static;
        margin: 10% 0%;
    }

    /* Footer Styling Media  */
    /* Foot Content  */
    .foot-content {
        padding-top: 12%;
        padding-bottom: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    /* Foot Download Buttons  */
    .foot-download-buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* Foot Content Boxes X2  */
    .foot-content-box {
        order: 2;
    }

    .foot-content-box>h5 {
        width: 100%;
        color: #272042;
        font-family: Gilroy-Regular;
        font-weight: 900;
        font-size: 1.2rem;
        line-height: 39px;
        text-align: center;
    }

    .foot-content-box>p {
        width: 100%;
        color: #8B8BA5;
        font-size: 1rem;
        font-family: Gilroy-Regular;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
    }

    #hidden-para-media {
        display: none;
    }

}



























/* Extra Breakpoint for Headings  */
@media (min-width:340px) and (max-width:520px) {
    .mid-sec1-para-sec>h3 {
        width: 85%;
        font-size: 2.2rem;
        font-weight: 900;
        margin-top: 4%;
        line-height: 40px;
        text-align: center;
    }

    .mid-sec1-para-sec>p {
        font-size: 1.1rem;
        font-weight: 800;
        width: 100%;
        margin-top: 4%;
        text-align: center;
    }

}