/* Gilroy Font  */
@font-face {
    font-family: Gilroy;
    src: url(./../Gilroy-Heavy.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(./../Gilroy-Regular.ttf);
}

/* Main Section 1 Part 2  */

